common/src/main/resources/schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="schema">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tables">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="table" maxOccurs="unbounded" minOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="columns">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="column" maxOccurs="unbounded" minOccurs="1">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                                                    <xs:attribute type="xs:string" name="type" use="required"/>
                                                                    <xs:attribute type="xs:boolean" name="nullable" use="optional"/>
                                                                    <xs:attribute type="xs:integer" name="size" use="optional"/>
                                                                    <xs:attribute type="xs:integer" name="decimalDigits" use="optional"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="constraints">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="constraint" maxOccurs="unbounded" minOccurs="1">
                                                        <xs:complexType>
                                                            <xs:simpleContent>
                                                                <xs:extension base="xs:string">
                                                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                                                    <xs:attribute type="xs:string" name="type" use="required"/>
                                                                    <xs:attribute type="xs:string" name="column" use="required"/>
                                                                </xs:extension>
                                                            </xs:simpleContent>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="name" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>